@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playwrite+BE+VLG:wght@100..400&display=swap');

.font{
    font-family: "Playwrite BE VLG", cursive;
    font-weight: 200;
}
body{ 
    background-color: black;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}
*{margin: 0%;
padding: 0px;

}

/* shared styles */
.btnprimary{
    width: 225px;
    height: 55px;
    margin-top: 28px;
    padding: 16px 40px;
    border: 1px none;
    border-radius: 42px;
    background-color: #E6533C;
    text-align: center;
}
.font16{
    font-size: 1rem;
    line-height: 24px;
    text-align: left;
}
.orangecolor{color: #E6533C;}
.offwhite{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}
.white{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    text-align: left;
}
.banner{
    
    height: 715px;
    background: linear-gradient(180.00deg, rgba(17, 17, 17, 0.61),rgba(119, 119, 119, 0.397) 100%) rgba(17, 17, 17, 0.226)
    ;
    box-sizing: border-box;
    border: 1px solid;
    
}
nav{ justify-content: center;
    height: 45px;
    display: flex;
    align-items: center;
    gap: 460px;
    margin: 57px 0px 0px 190px;
}
.navcontents{
    display: flex;
    justify-content: flex-start ;
    align-items: center;
    gap: 47px;
    margin: 0px 10px;
    padding: 4px;
    width: 450px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.103);
    box-sizing: border-box;
    border-radius: 40px;
}
.navtitle{
    width: 130px;
    height: 45px;
    font-size: 2.3rem;
    font-weight: 800;
    line-height: 120%;
}
.home{
    width: 50px;
    height: 22px;
    padding: 8px 20px;
    border: 1px solid none;
    border-radius: 46px;
    background-color: #E6533C   ;
}

.getbody{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 32px;
}
.getbodycontents{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 600px;
    height: 440px;
    border: 1px solid none;
    margin-top: 96px;
    margin-left: 190px;
}
.getbodytitle{
    width: 520px;
    height: 280px;
    font-size: 5rem;
    font-weight: 900;
    line-height: 90%;
    text-align: left;
}
.bodyimage{
    width: 350px;
    height: 580px;
}
.btn-a{text-decoration: none;
color: white;}
.btn-d{
    width: 225px;
    height: 55px;
    margin-top: 28px;
    padding: 16px 40px;
    border: 1px none;
    border-radius: 42px;
    background-color:rgba(0, 0, 0, 0.699) ;
    text-align: center;
}
.bodydescrip{
    margin-top: 28px ;
}
.bodybox1{
    width: 205px;
    height: 95px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.116) ;
    box-sizing: border-box;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    background-color: rgba(48, 48, 48, 0.11);
    position: absolute;
    margin-top: -160px;
    left: -70px;
    
}
.bodybox1ball{
    width: 40px;
    height: 40px;
    border: 1px solid #E6533C ;
    border-radius: 50%;
    background-color: #E6533C;
}
.imgcontent{position: relative;}
.b350{
    color:#FAFAF9 ;
    font-size: 1.5rem;
    font-weight: 900;
    
}
.vt{
    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
    font-weight: 400;
}
#fontvideo{
    font-size: 13px;
    margin-top: -5px;
}

.bodybox2{ 
    width: 200px;
    border: 1px solid rgba(255, 255, 255, 0.116) ;
    box-sizing: border-box;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background-color: rgba(48, 48, 48, 0.479);
    height: 100px;
    position: absolute;
    top: 150px;
    left: 230px;
    text-align: center;

}

    
.box2title{
        font-size: 2.3rem;
        font-weight: 900;
        color: white;
        margin-top: 5px;
    }
/* main section starts here */

main{background-color: black;

}

.change-ur-habit{ width: 1044px;
    height: 452px;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
    height: 450px;
    
    
}
.change{  width: 670px;
    height: 120px;
    text-align: center;
}
.change-title{
    font-size: 3rem;
    font-weight: 900 ;
    text-align: center;
    margin-top: 100px;
}
.change-descrip{
    text-align: center;
    margin-top: 14px;
}
.change-img-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40PX;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 60px;

}
.habit-name, .habit-descrip{
    text-align: center;
}

.habit-img{
    border-radius: 50%;
}
/* section run */
.run-extra-mile{
    width: 1060px;
    height: 370px;
    margin: 0px auto;
    display: flex;
    gap:165px ;
    border-radius: 18px;
    border: 1px solid none;
    justify-content: center;
    align-items: center;
    background-color: #222222;
}
.run-contents{
    width: 443px;
    height: 290px;
    margin-left: 54px;
    
}
.run-img{
    width: 365px;
    height: 310px;
    border-radius: 18px;
    border: 1px solid none;
    margin:30px ;
     
}
.run-title{
    margin-top: 40px;
    text-align: left;
}
.run-descrip{
    margin-top: 14px;
    text-align: left;
}
.BMI{
    margin-bottom: 88px;
}
/* CAlculator Section */

.calculator{ 
    height: 487px;
    background-color:#222222 ;
    border: 1px solid none;
    margin: 0px auto;
    display: flex;
    gap: 175px;
    justify-content: center;
    align-items: center;

    
}
table{border-collapse: collapse;
    width: 310px;
    height: 215px;
    margin-top: 52px ;
    
}
table,th, td {
    
    color: rgba(255, 255, 255, 0.219);
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    
    }
    th {
        color: white;
    }
.caption{
    margin-bottom: 14px;
    font-size: 1.5rem;
    font-weight: 900;
    color:white ;
    text-align: left;

}


.bmi-chart{
    width: 577px;
    height: 385px;
    border: 1px solid none;
}
.chart-scale{ 
    margin-top: 2.1rem;
    width: 577px;
    height: 168px;
    display: grid;
    grid-template-columns: repeat(2,  auto );
    gap: 12px;
    
    
}
.bmi-chart-list{
    width: 577px ;
    height: 385px;
}
input, select{
    
    border-radius: 8px;
    padding: 12px;
    
    background-color:rgba(255, 255, 255, 0.1);
    font-size: 1rem;
    font-weight: 400;
}
.activity-factor{}

